/* Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Variables */
:root {
    font-size: 16px;
	--aside-color: #fff;
	--main-color: #695cfe;
	--second-color: aliceblue;
	--third-color: #5a5858;
    --toggle-color: #bdbdbd;
	--logo-color: #fff;
    --head-color: #695cfe;
    --dropdown-color: #695cfe;
	--main-transition: 0.3s;
	--transition-2: 0.2s;
    scroll-behavior: smooth;
}

/* Global */
body {
    background-color: #e4e9f7;
    font-family: poppins;
    transition: var(transition-2);
}
@font-face {
	font-family: poppins;
	src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
	font-family: poppins-medium;
	src: url(../fonts/Poppins-Medium.ttf);
}
a {
	text-decoration: none;
}
li {
    list-style: none;
}

/* Landing Section */
#landing-sec {
	height: 100vh;
	min-height: 700px;
    display: flex;
}
/* Sidebar */
aside {
	width: 240px;
	background-color: var(--aside-color, #fff);
	height: 100%;
	padding: 15px;
    transition: var(--main-transition);
}
aside .info {
	display: flex;
	align-items: center;
	column-gap: 13px;
    position: relative;
}
aside .logo {
    width: fit-content;
	background-color: #695cfe;
	color: var(--aside-color, #fff);
	font-weight: bold;
	padding: 8px 7px;
	font-size: 20px;
	border-radius: 5px;
	letter-spacing: 1px;
    transition: var(--main-transition);
}
aside .logo:hover {
    background-color: #5a5858;
}
aside .logo a {
	color: var(--logo-color);
}
aside .text {
    transition: var(--main-transition)
}
aside .text h4 {
	color: var(--head-color);
    font-size: 1.1rem;
}
aside .text p {
	color: var(--third-color);
    margin-bottom: -3px;
    white-space: nowrap
}
aside .bx-chevron-left {
    position: absolute;
    width: 25px;
    height: 25px;
    right: calc(-25px / 2 - 15px);
    top: 11px;
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: var(--main-transition);
}
aside .bx-chevron-left:hover {
    background-color: #5a5858;
}
aside ul {
    margin-top: 50px;
}
aside ul li a {
    transition: var(--main-transition);
}
aside .dark-light span {
    white-space: nowrap;
}
aside ul li a,
.more,
aside .bottom-content .log a,
aside .bottom-content .dark-light,
aside ul .search-container {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 5px;
    color: var(--third-color);
    font-family: poppins-medium;
}
aside ul li a,
.more,
aside .bottom-content .log a,
aside .bottom-content .dark-light {
    transition: var(--main-transition);
}
/* Sidebar Toggle */
aside.close .info > i {
    rotate: 180deg;
}
aside.close {
    width: 80px;
}
aside.close .info .text,
aside.close .menu-bar a span {
    opacity: 0;
    white-space: nowrap;
}
aside.close .bottom-content .dark-light {
    padding: 10px 7px;
}
aside.close .dark-light .toggle.dark-active::before {
    left: 22px;
}
aside.close span {
    display: none;
}
aside.close .dark-light .toggle::before {
    width: 12px;
    height: 12px;
}
/* Dark Mode Toggle */
.more {
    display: block;
}
.more:hover {
    background-color: var(--second-color);
}
.more .main {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.more .main:hover,
.more .main.active {
    color: var(--dropdown-color)
}
.more .main:hover::before,
.more .main.active::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: -10px;
    background-color: var(--dropdown-color);
}
.more ul {
    margin-top: 10px;
    display: none;
}
.more li {
    display: flex;
}
.more span + i {
    position: absolute;
    right: -20px;
    top: 1px;
    font-size: 1.4rem;
    color: var(--third-color);
}
.more li a {
    margin: 0;
    width: 100%;
    align-items: center;
}
aside ul .search-container,
aside .dark-light {
    background-color: var(--second-color, #e4e9f7);
    display: flex;
    align-items: center;
}
aside ul li i,
aside .bottom-content i {
    margin-right: 15px;
    font-size: 1.3rem
}
aside .menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 46px);
}
aside .bottom-content .dark-light {
    position: relative;
    padding-left: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
aside .dark-light i {
    position: absolute;
    left: 15px;
    top: 13px;
    opacity: 1;
}
aside .dark-light .toggle {
    background-color: var(--toggle-color);
    width: 44px;
    height: 22px;
    border-radius: 15px;
    padding: 3px;
    position: relative;
    cursor: pointer;
}
aside .dark-light .toggle::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--aside-color);
    border-radius: 50%;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--main-transition);
}
.more.active {
    background-color: var(--second-color);
}
.more.dropdown-sideClose {
    position: relative;
}
.more.dropdown-sideClose ul {
    position: absolute;
    right: -195px;
    top: -11px;
    background-color: var(--aside-color);
    padding: 10px 10px 10px 25px;
    border-radius: 0px 5px 5px 0px;
}
.more.dropdown-sideClose:hover ul {
    display: block;
}
.more .main:hover span + i ,
.more .main.active span + i {
    color: var(--dropdown-color)
}
.more .main.active span + i {
    rotate: 90deg
}
.more .main.active + ul {
    display: block;
}
aside ul li a:hover,
aside .bottom-content .log a:hover,
aside .menu-bar a.active {
    background-color: var(--main-color);
	color: #fff;
}
aside .dark-light .toggle.dark-active::before {
    left: 25px
}
:root.dark-active {
    --main-color: #3a3b3c;
	--aside-color: #131414;
	--second-color: #e4e9f717;
    --third-color: #ccc;
    --head-color: #fff;
    --toggle-color: #fff;
    --dropdown-color: #ccc
}
body.dark-active {
    background-color: #242526;
}
aside .dark-light i.bx-moon {
    opacity: 0
}
body.dark-active aside .dark-light i.bx-sun {
    opacity: 0
}
body.dark-active aside .dark-light i.bx-moon {
    opacity: 1
}
/* Search Toggle */
aside ul .search-container input {
    font-size: 1rem;
    caret-color: var(--third-color);
    color: var(--third-color);
    font-family: poppins-medium;
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
}
aside ul .search-container input::placeholder {
    color: var(--third-color);
}
/* Main */
main {
    width: calc(100% - 240px);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--third-color)
}
aside.close + main {
    width: calc(100% - 80px);
}
aside.close .more span,
aside.close .more span + i {
    opacity: 0;
}
/* Activate Sidebar Links */
aside .menu-bar a.active {
    background-color: var(--main-color);
    color: #fff;
}